<div layout="vertical" layout-fill>

    <md-content class="md-padding" layout="column">
        <h1>hei</h1>
        <md-chips ng-model="main.tokenList" md-on-append="main.append($chip)" md-require-match="true">
            <md-autocomplete
                    md-selected-item="main.selectedItem"
                    md-search-text="main.searchText"
                    md-items="item in main.validOperators(main.searchText)"
                    md-item-text="item.name"
                    md-selected-item-change="main.onItemSelect(main.selectedItem)"
                    md-search-text-change="main.searchTextChange(main.searchText)"
                    md-min-length="0"
                    md-select-on-match
                    >
                <span md-highlight-text="main.searchText" ng-if="item">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template md-autocomplete-snap>{{$chip.title}}
            </md-chip-template>
        </md-chips>
        <br/>
    </md-content>
</div>